/* Estilos para dispositivos móviles */
@media (max-width: 768px) {
    header {
        padding: 20px;
        height: auto;
    }

    .logo-container {
        position: left;
        top: 100px; /* Ajusta para subir el logo */
        left: 70px; /* Ajusta para mover el logo a la derecha */

    .logo {
        width: 100px;
    }

    header h1 {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    .menu {
        margin-top: 10px;
    }

    .menu a {
        font-size: 0.9rem;
        padding: 10px 30px;
    }
}
